# Data files (too large for GitHub)
data/raw/
data/filtered_complaints.csv
data/processed/*.csv

# Vector stores (usually large)
vector_store/

# Python + Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

